@{
    ViewBag.Title = "Location";
}

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand">


<div style="padding-left:20px;padding-right:20px">
<div style="border-bottom:1px solid white">
    <div class="CapHeader">
    Cities
    </div>
    <div class="HeaderText">
        Explore the Best Days people have shared on Scoutabout. This list is a collection of Guides people made for you to explore.
    </div>
</div></div>
<div style="padding:20px">
    <div>
   
      <div style="float:left" >@Html.TextBox("CitySearch","",new { @class ="CitySearch"}) </div><div class="SearchBtn">SEARCH</div>
      
    
   
    </div>


</div>
<div style="padding:20px">
    <div style="display:inline">
    <div  class="CityContext">

</div>
    
    </div>
 </div>




<script type="text/javascript">
    $(document).ready(function () {

        $(".SearchBtn").click(ExecuteSearch);

        ExecuteSearch();
    }


    );


    function ExecuteSearch()
    {
        
            var params = { CitySearch: $(".CitySearch").val() };
            $.ajax({
                url: "../Location/SearchCities",
                type: "get",
                data: params,
                success: function (response, textStatus, jqXHR) {

                    // User name is not existing
                    $(".CityContext").html(response)

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error");
                },
                // callback handler that will be called on completion
                // which means, either on success or error
                complete: function () {
                }
            });
      
    }
    

</script>
