@model Web.Models.Interest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Interest</legend>

    <div class="display-label">RelatedTags</div>
    <div class="display-field">@(Model.RelatedTags == null ? "None" : Model.RelatedTags.Count.ToString())</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


