<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://scoutabout.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-ch1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Scoutabout</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$Scoutabout</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.Models.UsersContext, Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Web.Models.ScoutAboutDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.Models.ScoutAboutDataContext, Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.Models.WebContext, Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureConnection" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:zlvvi9obs9.database.windows.net,1433;Database=scoutaboutdb;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Web.Models.ScoutAboutDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zlvvi9obs9.database.windows.net,1433;Initial Catalog=scoutaboutdb;Integrated Security=False;User ID=scoutaboutadmin@zlvvi9obs9;Password=k$34sa#s2Mv;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Web.Models.ScoutAboutDataContext" />
  </ItemGroup>
</Project>