@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailPartial";
}
@*@Html.ActionLink("something","Description", "Guides",new { id = Model.GuideId }, new { Class = "thumbnail" } ) *@

   <a href="[]" class="thumbnail" title=" ">       
    <img id="primary" src="~/Images/GuideImages/@Model.ImageUrl" height="200" width="200" alt="" class="img-polaroid" />
   </a>
