@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "GuideBrowser";    
}

@foreach( var item in Model)
{
    <div style="width:200px" class="well">
        @Html.Partial("Partials/GuideThumbnails", item)      
    </div>
}