@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailPartial";
}

   <a href="[]" class="thumbnail" title=" ">    
    <img id="primary" src="@Model.Title" height="119" width="103" alt="" class="img-polaroid" />
   </a>
