@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "GuideBrowser";
    List<Web.Models.Guide> MockModels = new List<Web.Models.Guide>();
    List<string> guideUrls = new List<string>() { "Continental-Christmas-Guide.jpg", "Cruisin-on-the-sound.jpg", "Kid-Day-in-the-City-Guide.jpg", "Musical-Momentos-Guide.jpg" };
    
    var ctx = new Web.Models.WebContext();
    Web.Models.User author = ctx.Users.Where( x => x.UserId == 1).First();
    Random r = new Random();

    foreach (var item in Model)
    {
        MockModels.Add(item);
    }
    
    while(MockModels.Count < 12)
    {
        Web.Models.Guide g = new Web.Models.Guide();
        g.ImageUrl = guideUrls[r.Next(0,3)];
        g.Author = author;
        g.Follow = 1;
        g.Views = r.Next(1, 10000);
        g.Likes = r.Next(1, 10000);
        g.Title = g.ImageUrl.Replace(".jpg", "");
        g.Summary = "something cool";
        g.GuideId = Model.First().GuideId;
        MockModels.Add(g);        
    }
      
}

<div class="">
<ul class="thumbnails">
@foreach( var item in MockModels)
{
  <li >
    <div  style="width:200px; height:400px;" class="well">
           @Html.Partial("Partials/GuideThumbnails", item) 
    </div>
  </li>    
}
</ul>

<div class="pagination pagination-centered pagination-large" >
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
   <li><a href="#">Next</a></li>
  </ul>
</div>

</div>

