@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "GuideBrowser";    
}

<ul class="thumbnails">
@foreach( var item in Model)
{
  <li class="span4">
    <div  style="width:220px" class="thumbnail well">
           @Html.Partial("Partials/GuideThumbnails", item) 
    </div>
  </li>    
}
</ul>