@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnails";    
}
<div>
    @Html.Partial("Partials/GuideThumbnailPartial", Model)
</div>
<div>
    @Html.Partial("Partials/GuideThumbnailDetails", Model)
</div>
