@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailPartial";
}

   <a href="[]" class="thumbnail" title=" ">    
    <img id="primary" src="~/Images/GuideImages/@Model.ImageUrl" height="200" width="200" alt="" class="img-polaroid" />
   </a>
