@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailPartial";
}

   <a href="[]" class="gallerypic" title="">    
    <img id="primary" src="@Model.Title" height="140" width="140" alt="" class="pic" />
   </a>
