@model Web.Models.Location

<div style="display:inline-block">
    <div style="float:left;margin:10px">
        <img height="84"  width="84" src= "@Url.Content(Model.Image.ToString())" alt="IMAGES" />
    </div>
    <div class="description" style="width:400px;padding-top:10px;float:left">
        <div class="underline">
            @Html.Label(Model.City + "," + Model.State ,new { @class="smallHeader"})
           
        </div>
        
        <div  class="textLabel">
            @Html.Raw(Model.Summary)
        </div>
        
           <input style="float:left" type="checkbox" />
    

        
    </div>
    
</div>