@{
    ViewBag.Title = "About";
}
<div style="padding-left:50px;padding-right:40px; padding-top:20px;">
<div >
    <span><div class="CapHeader">@ViewBag.Title the Team</div></span><br />
    <span><div class="HeaderText">@ViewBag.Message</div>  </span>
</div>
   <br /><br />

    <div class="row" style="margin-left:60px">
            <ul class="thumbnails">
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                    </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
               <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="~/Images/300x200.png" alt="">
                </a>
              </li>
            </ul>
          </div>
                     
 </div>
