@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "Best Days";
}




<div style="padding-left:90px;padding-right:40px; padding-top:20px;">
<div >
    <div class="CapHeader">Best Days</div><div class="HeaderText">Explore these popular local guides</div>  
</div>
    <br />
<br />

@Html.Action("GuideBrowser", "Guides", Model);

</div>



