@{
  ViewBag.Title = "Contact";
}

<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
  <header>
    <h3>Social Media</h3>
  </header>
  <p>
    <span class="label">Twitter:</span>
    <span>@@ScoutaboutUSA</span>
  </p>
  <p>
    <span class="label">FaceBook:</span>
    <span>ScoutaboutUSA</span>
  </p>
  <p>
    <span class="label">Blog:</span>
    <span><a href="http://cdausa.wordpress.com/" target="_blank">cdausa.wordpress.com</a></span>
  </p>
</section>
