@model List<string>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="~/Images/HeroImages/beachmasthead_940.jpg" width="1200" /></div>
    <div class="item"><img src="~/Images/HeroImages/vegimasthead_940.jpg" width="1200" /></div>
    <div class="item"><img src="~/Images/HeroImages/carouselmasthead_940.jpg" width="1200" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



<div style="margin-left:20px; margin-right:20px;">
 <div class="HeaderText"><h2>WHAT IS SCOUTABOUT?</h2></div>   
<div class="HeaderText2">
    <h4>
Scoutabout is a web and mobile application that provides an innovative space for users to create their best day in any city of the world. Users can browse “best day” guides created by others, save entire guides - or drag and drop items within them – to create their own unique, interest-based itineraries. At the intersection of this user-curated travel and urban planning site is a compelling social and e-commerce opportunity.  
</h4></div>
    <br /><br />
 <div class="HeaderText"><h2>OUR STORY:</h2></div>  
    <div class="HeaderText2">
        <h4>
In 2011, True North, founder of North Technologies, embarked on a 20,000 mile journey exploring the United States. The problem she faced with each new city she visited was sorting through all the travel books, brochures, websites and mobile apps to find what she really wanted to do. So she asked to the locals. 
During her six months on the road True talked to hundreds of people. Everyone was so happy to share the places, food and experiences that made up a “best day” in their city. She realized what was making her trip so awesome was, through their tips, she was getting to experience the heart and soul of a city. That’s when it occurred to her to build an application where people could connect, share and discover what makes a “best day” in any city.
</h4></div> 


</div>
<br /><br />