@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "My Guides";
}

<div style="padding-left:60px;padding-right:40px; padding-top:20px;">
<div >
    <div class="CapHeader">My Guides</div>  
</div>
    <br />
<br />

</div>
