@model IEnumerable<Web.Models.Guide>

@{
    ViewBag.Title = "Top Local";
}

<div style="padding-left:60px;padding-right:40px; padding-top:20px;">
<div >
    <div class="CapHeader">Top Local</div><div class="HeaderText">Here's what is hot in your local area!</div>  
</div>
    <br />
<br />

</div>
