
.sortContext
{
    background-color:#9f9f9f;
    
}

.cityContext
{
   float:left;
}
<<<<<<< HEAD

.common-font
{
      font-family:'Quicksand',Verdana;
}
=======
>>>>>>> 67444c49b703ee0b82ee88277419a4b26a149812

.smallHeader
{
     font-family:'Quicksand',Verdana;
        font-size:20px;
        color:white;
        text-transform:uppercase;
         text-decoration:underline;
}

.textLabel
{
     font-family:'Quicksand',Verdana;
        font-size:15px;
        color:white;
       
        
}

    .CapHeader
    {
        font-family:'Quicksand',Verdana;
        font-size:40px;
        color:white;
        text-transform:uppercase;
        float:left;
        padding:10px;
    }
    .SearchBtn
    {
    border:1px solid white;
     font-family:'Quicksand',Verdana;
        font-size:20px;
        color:white;
        width:100px;
        float:left;
        margin-left:10px;
        padding:5px;
         cursor:pointer;

    }
.longFormImage
{
    height:128px;
    width:128px;
}
    .HeaderText
    {
     font-family:'Quicksand',Verdana;
        font-size:20px;
        color:white;
        width:75%;
        
    }
    .CitySearch
    {
       font-family:'Quicksand',Verdana;
       width:800px;
      
    }