
.sortContext {
    width: 80px;
    background-color: #9f9f9f;
}

.cityContext {
    float: left;
}

.common-font {
    font-family: 'Quicksand',Verdana;
}

.smallHeader {
    font-family: 'Quicksand',Verdana;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.textLabel {
    font-family: 'Quicksand',Verdana;
    font-size: 15px;
    color: white;
}

.CapHeader {
    font-family: 'Quicksand',Verdana;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    float: left;
    padding: 10px;
}

.SearchBtn {
    border: 1px solid white;
    font-family: 'Quicksand',Verdana;
    font-size: 20px;
    color: white;
    width: 100px;
    float: left;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.longFormImage {
    height: 128px;
    width: 128px;
}

.HeaderText {
    font-family: 'Quicksand',Verdana;
    font-size: 14px;
    color: white;
    width: 75%;
}

.CitySearch {
    font-family: 'Quicksand',Verdana;
   
    width: 550px;
}

body {
    font-family: 'Quicksand',Verdana, sans-serif;
    font-size: 16px;
}
